:root{
	--fuenteHeading:  'Work Sans', sans-serif;
	--fuenteParrafos: 'Open Sans', sans-serif;
	--playfair: 'Playfair Display', serif;

	--primario: #C00000;
	--secundario: #D84848;
	--focus: #33DFAC;
	--blanco: #ffffff;
	--negro: #000000;
	--gris: #edede9;

}

html{
	box-sizing: border-box;
	font-size: 62.5%;

}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	font-family: var(--fuenteParrafos);
	font-size: 1.6rem;
	line-height: 2;
}

/** GLOBALES **/

.contenedor{
	max-width: 1200px;
	width: 90%;
	/**width: min(90%, 1200px); esto es lo mismo que arriba**/ 
	margin: 0 auto;
}

a{
	text-decoration: none;
}

h1,h2,h3,h4{
	font-family: var(--fuenteHeading);
	line-height: 1.2rem;
}

h1{
	font-size: 4.8rem;
}

h2{
	font-size: 4.0rem;
}

h3{
	font-size: 3.2rem;
}

h4{
	font-size: 2.8rem;
}

img{
	max-width: 100%;
}

label{
	font-family: 'Roboto Slab', serif;
}

p{
	font-family: 'Roboto Slab', serif;
}

/**Utilidades **/

.row{
	display: flex;
	flex-direction: row;
}
.active{
	color: var(--blanco);
	font-family: var(--playfair);
	background: rgb(192,0,0);
	background: linear-gradient(90deg, rgba(192,0,0,1) 30%, rgba(216,72,72,0.6194852941176471) 78%);
}

.fuente-playfair{
	font-family: var(--playfair);
}

.texto-blanco{
	color: var(--blanco);
}

.texto-primario{
	color: var(--primario);
}

.img_icono{
	width: 25px;
	height: 25px;
}

.div__linea--separador{
	width: 60%;
	height: 0px;
	margin-left: 10%;
	border-style: solid;
	border-color: var(--gris);
	border-width: 1px;
	margin-top: 40px;

}

.no-margin{
	margin: 0;
}

.no-padding{
	padding: 0;
}

.centrar-texto{
	text-align: center;
}

.row-space{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.margin__left--15{
	margin-left: 15px;
}

.margin__bot--10{
	margin-bottom: 10px;
}



.boton{
	display: block;
	width: 200px;
	font-family: var(--fuenteHeading);
	text-align: center;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
	border-radius: 50px;
}

.boton--primario{
	color: var(--blanco);
	background-color: var(--primario);
}

.boton--secundario{
	color: var(--primario);
	background-color: var(--blanco);
}

.espacio-30heig-100wid{
	width: 100%;
	height: 30px;
}

/* HEADER */

.header{
	background-color: var(--primario);
	height: 130px;
	margin-bottom: 0px;
}

.header-contenedor{
	display: flex;
	flex-direction: column;
}

.header-informacion{
	display: flex;
	flex-direction: row;
	border-bottom: solid;
	border-color: var(--blanco);
	border-width: 2px;
}

.header-informacion__logo{
	height: 70px;
}

.header-informacion__opciones{
	display: flex;
	flex-direction: row;
	width: 40%;
	justify-content: space-between;
	text-align: center;
	margin-left: 500px;
}

.header-informacion__opciones--contacto, 
.header-informacion__opciones--login, 
.header-informacion__opciones--buscarIcon{
	margin-top: 20px;
}

.header-informacion__opciones--login a{
	color: var(--blanco);
}

.header-filtros{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
	margin-top: 10px;
}

.header-filtros a {
	color: var(--blanco);
	font-size: 20px;
	text-align: center;
	font-weight: 700;
}

/*BANNER INICIO*/
.Banner_inicio{
	background-image: url(../data/img/banner_tegucigalpa_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 355px;
	width: 100%;
	text-align: center;
}

.Banner_inicio__informacion{
	padding-top: 45px;
}

.Banner_inicio__informacion h1,
.Banner_inicio__informacion h4{
	color: var(--blanco);
	font-family: 'Playfair';
	padding: 0px;
}
.Banner_inicio__informacion h1{
	font-size: 70px;
}

.Banner_inicio__informacion a{
	margin-left: 570px;
	margin-top: 20px;
}

/*BANNER CONTACTO*/
.Banner_contacto{
	background-image: radial-gradient(circle at 17.13% 52.88%, #e27600 0, #e86700 12.5%, #ec5400 25%, #ef3c00 37.5%, #f11010 50%, #f1001f 62.5%, #f1002b 75%, #ef0038 87.5%, #ec0045 100%);
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	width: 100%;
	text-align: center;
}

.Banner_inicio__contacto{
	padding-top: 45px;
}

.Banner_inicio__contacto h1,
.Banner_inicio__contacto h4{
	color: var(--blanco);
	font-family: 'Playfair';
	padding: 0px;
}
.Banner_inicio__contacto h1{
	font-size: 70px;
}

.Banner_inicio__contacto a{
	margin-left: 300px;
	margin-top: 20px;
}
/* BUSCAR POR FILTROS INICIO  */
.buscarXfiltros{
	background-color: var(--gris);
	height: 450px;
}

.buscarXfiltros__informacion{
	padding-top: 45px;
	text-align: center;
}

.buscarXfiltros__informacion h1{
	color: var(--primario);
	font-family: 'Playfair Display', serif;

}

.buscarXfiltros__form{
	width: 80%;
	margin-left: 10%;
}

.buscarXfiltros__formulario{
	display: grid;
	grid-template-columns: 2fr 2fr 0.5fr 0.5fr 1.5fr;
	padding-top: 20px;
}

.buscarXfiltros__formulario--campo{
	display: flex;
	flex-direction: column;
	width: 90%;
}

.buscarXfiltros__formulario--campo__input{
	height: 35px;
	text-align: center;
	border-radius: 10px;
	border-style: solid;
	border-width: 0.5px;
}

.buscarXfiltros__formulario--boton{
	margin-left: 380px;
	margin-top: 45px;
	text-align: left;
	width: 320px;
}

/*SOBRE NOSOTROS INICIO*/

.nosotros_inicio{
	display: flex;
	flex-direction: column;
}

.sobre-nosotros__contenido{
	width: 86%;
	margin-left: 7%;
	display: grid;
	grid-template-columns: 1.5fr 2fr;
	padding-top: 35px;
}

.sobre-nosotros__contenido--logo{
	height:85%;
	margin-left: 25%;
	width: 50%;
}

/* HABITACIONES Y APARTAMENTOS */

.Catalogo_inicio{
	background-color: var(--gris);
	display: flex;
	flex-direction: column;
	height: 900px;
}

.Catalogo_inicio__contenido{
	width: 90%;
	margin-left: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.Catalogo_inicio__contenido--card{
	display: grid;
	grid-template-rows: 1fr 0.4fr 0.5fr;
	background-color: var(--blanco);
	border-radius: 10px 10px 10px 10px ;
	width: 90%;
	margin-left: 5%;
	margin-top: 30px;
	margin-bottom: 30px;

}

.Catalogo_inicio__contenido--card__img{
	border-radius: 10px 10px 0px 0px ;
	overflow: hidden;
}

.Catalogo_inicio__contenido--card__ubicacion{
	border-bottom: solid;
	border-radius: 0px 0px 0px 0px ;
	border-style: solid;
	border-width: 0.5px;
	border-color: #b6b5b5;
	text-align: center;
}

.Catalogo_inicio__contenido--card__ubicacion h4{
	position: absolute;
	margin-top: 20px;
	margin-left: 75px;
	font-family: var(--playfair);
}

.Catalogo_inicio__contenido--card__precio-Caracteristicas{
	display: flex;
	flex-direction: column;
	border-radius: 0px 0px 10px 10px;
	border-style: solid;
	border-width: 0.5px;
	border-color: #b6b5b5;
	text-align: center;
}

.Catalogo_inicio__contenido--card__ubicacion--ubi{
	display: grid;
	grid-template-columns: 0.1fr 1fr;
	margin-left: 35px;
	margin-top: 55px;
	padding-top: 0px;
	margin-right: 15px;
	height: 25px;
	position: absolute;
}

.Catalogo_inicio__contenido--card__ubicacion--ubi p,
.caracteristicas-inicio-card__icono-nombre p{
	margin-top: -3px;
	font-weight: 600;
	font-family: var(--playfair);
	margin-left: 0px;

}


.caracteristicas-inicio-card__icono-nombre{
	display: grid;
	grid-template-columns: 0.4fr 1fr;
}

.Catalogo_inicio__contenido--card__precio-Caracteristicas--carac,
.caracteristicas-inicio-card__icono-nombre{
	margin-left: 15px;
}

.Catalogo_inicio__contenido--card__precio-Caracteristicas--carac{
	margin-top: 15px;
}

.Catalogo_inicio__contenido--card__precio--precio{
	color: var(--primario);
	margin-left: 45px;
}

.Catalogo_inicio__contenido--card__precio--contenido{
	position: absolute;
	margin-top: 70px;
}

.Catalogo_inicio__contenido--card__precio--opciones a{
	margin-left: 15px;
}

.Catalogo_inicio__contenido--card__precio--contenido h4{
	margin-top: 8px;
	margin-right: 105px;
}

.catalogo__inicio--boton{
	margin-left: 520px;
	width: 320px;
	margin-top: 40px;
}

/* BANNER RECUENTO */

.Banner-inicio-contacto{
	background-image: url(../data/img/banner_tegucigalpa_2.jpg);
	height: 250px;
}

.Banner-inicio-contacto__info{
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 80%;
	margin-left: 10%;
	padding-top: 20px;
}

.Banner-inicio-contacto__info--aviso{
	margin-top: 45px;
}

.Banner-inicio-contacto__info--aviso h2{
	color: var(--blanco);
}

.Banner-inicio-contacto__info--aviso h4{
	color: var(--secundario);
}

.Banner-inicio-contacto__info--contacto h4{
	color: var(--blanco);
}

/* INICIO GALERIA DE PA LA PAGINA DE INICIO */

.Galeria-PageInicio{
	background-color: var(--blanco);
	height: 430px;
}

.Galeria-PageInicio-Contenido{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	width: 90%;
	margin-left: 5%;
	padding-top: 50px;
}

.Galeria-PageInicio-Contenido__imgs{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}

.VistaPrev_Galeria_Fotos{
	width: 95%;
	overflow: hidden;
	margin-right: 5%;
}

.Galeria-PageInicio-Contenido__informacion{
	display: flex;
	flex-direction: column;
}
.Galeria-PageInicio-Contenido__informacion h2{
	color: var(--primario);
	text-align: center;
	font-family: 'Playfair Display', serif;
}

.Galeria-PageInicio-Contenido__informacion p{
	margin-left: 20px;
	font-weight: 500;
}

.GALERIA_INICIO__boton{
	margin-top: 10px;
	margin-left: 150px;
}

/* DIRECCION EMPRESA EN LA PAGINA DE INICIO */

.Direccion-empresa{
	background-color: var(--gris);
	display: flex;
	flex-direction: column;

	height: 770px;
}

.Direccion-empresa-info{
	padding-top: 50px;
	text-align: center;
}

.Direccion-empresa-info h1{
	color: var(--primario);
	font-family: var(--playfair);
}

.Direccion-empresa-info p{
	color: var(--secundario);
}

.Direccion-empresa-contenido{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	width: 95%;
	margin-left: 2.5%;
}

.Direccion-empresa-contenido__mapa{
	width: 95%;
	margin-right: 5%;
	overflow: hidden;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: var(--secundario);
}

.Direccion-empresa-contenido__info{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 45px;
}

.Direccion-empresa-contenido__casillainfo{
	width: 95%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
}

/*	CSS EN FOOTER */

.footer{
	background-color: var(--primario);
	height: 400px;
}

.footer-contenido{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

.footer-contenido{
	width: 90%;
	margin-left: 5%;
}

.footer-contenido__about{
	width: 95%;
	margin-right: 5%;
}

.footer-contenido__categorias--opciones{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer-contenido__categorias--opciones p{
	color: var(--blanco);
}

/* CSS PARA la pagina de ALL CATALOGO */

.Banner_page__css{
	background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(216,72,72,1) 49%, rgba(255,255,255,1) 100%);
	height: 200px;
	text-align: center;
}

.Banner_page__css--contenido{
	padding-top: 55px;
}

.Catalogo-page-filtros{
	width: 100%;
	height: 150px;
}

.Catalogo-page-filtros-contenido{
	width: 90%;
	margin-left: 5%;
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr;
}

.Catalogo-page-filtros-contenido__card,
.Catalogo-page-filtros-contenido__card--popular{
	background-color: var(--gris);
	text-align: center;
	width: 93%;
	height: 60px;
	margin-right: 7%;
	margin-top: 35px;
	border-radius: 15px;
}

.Catalogo-page-filtros-contenido__card:hover ,
.Catalogo-page-filtros-contenido__card--popular:hover{
	background: rgb(192,0,0);
	background: linear-gradient(90deg, rgba(192,0,0,1) 30%, rgba(216,72,72,0.6194852941176471) 78%);

}

.Catalogo-page-filtros-contenido__card--popular h4{
	font-family: var(--playfair);
	margin-top: 25px;
}

.Catalogo-page-filtros-contenido__card--popular:hover h4{
	font-family: var(--playfair);
	color: var(--blanco);
}

.Catalogo-page-filtros-contenido__card h4{
	margin-top: 15px;
	font-family: var(--playfair);	
}

.Catalogo-page-filtros-contenido__card:hover h4{
	margin-top: 15px;
	font-family: var(--playfair);
	color: var(--blanco);	
}

.Catalogo-page-filtros-contenido__card p{
	margin-top: -30px;
	color: var(--secundario);
	font-size: 12px;
}

.Catalogo-page-filtros-contenido__card:hover p{
	margin-top: -30px;
	color: var(--blanco);
}


.All_Catalogo-page-contenido{
	width: 90%;
	margin-left: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--gris);
	margin-top: 15px;	
}

.Cambiar-pagina{
	margin-top: 50px;
	width: 300px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	margin-left: 38%;
	margin-bottom: 50px;
}

.Cambiar-pagina a{
	width: 90%;
	border-radius: 5px;
	margin-left: 10%;
	background-color: var(--gris);
}

.boton_cambiar-pagina:hover {
	background-color: var(--primario);
	color: var(--blanco);
}

/* CSS PARA LA PAGINA DE INFORMACION PRODUCTO */

.Single-Producto-Contenido{
	display: grid;
	grid-template-columns: 1.5fr 0.7fr;
	width: 90%;
	margin-left: 5%;
	margin-top: 55px;
}


.Single-Producto-Contenido-col-derecha{
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	width: 90%;
	margin-left: 10%;
}

.Single-Producto-Contenido-col-derecha__form{
	background-color: var(--blanco);
	margin: 10px 10px 10px 10px;
}

.Single-Producto-col-derecha__form-campo{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: 10%;
}

.Single-Producto-col-derecha__form-campo label{
	color: var(--primario);
	font-family: var(--playfair);
	font-weight: 700;
}

.Single-Producto-col-derecha__form-campo input,
.Single-Producto-col-derecha__form-campo textarea{
	height: 40px;
	border-radius: 5px;
	background-color: var(--gris);
	border-width: 0px;
	margin-bottom: 25px;
}

.Single-Producto-col-derecha__form-campo textarea{
	height: 120px;
}

.Single-Producto-Contenido-col-derecha__titulo{
	margin-left: 45px;
	margin-top: 20px;
	font-family: var(--playfair);
}

.SingleP-col-izquierda-galeria__portada{
	border-radius: 50px;
	overflow: hidden;
}

.SingleP-col-izquierda-galeria__vistaprev{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-top: 25px;
}

.SingleP-col-izquierda-informacion__descripcion--nombre h2{
	font-family: var(--playfair);
}

.SingleP-col-izquierda-informacion__descripcion--nombre p{
	font-weight: 700;	
}

.SingleP-col-izquierda-informacion__descripcion p{
	color: gray;
	font-size: 20px;
}

.SingleP-col-izq-informacion__detallesPrecio p,
.SingleP-col-izq-informacion__detallesPropiedad p{
	color: gray;
}

.SingleP-col-izq-informacion__descripcionGeneral{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.SingleP-col-izq-informacion__descripcionGeneral--card{
	background-color: var(--gris);
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	text-align: center;
	justify-content: center;
	justify-items: center;
}

.SingleP-col-izq-informacion__caracteristicasInteriores{
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	width: 70%;
}

/* css para pagina de ERROR 404 */

.Erro_404_page{
	background: rgb(34,193,195);
	background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(192,0,0,1) 100%);
	height: 500px;
	text-align: center;
}

.Erro_404_page--info{
	padding-top: 120px;
}

.Erro_404_page--info h1,
.Erro_404_page--info h4{
	font-family: var(--playfair);
	color: var(--blanco);
}

.boton_page_error{
	margin-top: 60px;
	margin-left: 530px;
	width: 280px;
}


/* FIN CSS LOGIN */