:root{
	--fuenteHeading:  'Work Sans', sans-serif;
	--fuenteParrafos: 'Open Sans', sans-serif;
	--playfair: 'Playfair Display', serif;

	--primario: #C00000;
	--secundario: #D84848;
	--focus: #33DFAC;
	--blanco: #ffffff;
	--negro: #000000;
	--gris: #edede9;

}

/*HEADER*/

.navbar-admin-das{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    background-color: var(--secundario);
}

.container-fluid{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.navbar-brand{
    color: var(--blanco);
    font-family: var(--playfair);
    font-size: 25px;
    margin-left: 25px;
}

.navbar-collapse{
    display: flex;
    flex-direction: row;
}

.nav-link{
    color: var(--negro);
    font-size: 20px;
    font-family: var(--fuenteHeading);
    margin-left: 20px;
    font-weight: 600;
}

.active-admin-nav{
    color: var(--primario);
	font-family: var(--playfair);
	background-color: var(--gris);
}

.dashboard{
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.btn-add_categoria{
    align-items: center;
    justify-items: center;
    margin-left: 350px;
}
.opciones{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #edede9;
    height: 800px;
}

.btn_opc{
    margin-top: 45px;
    width: 80%;
    margin-left: 10%;
}

.formularioScreen{
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
}

.div_opc_categorias{
   
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contenedor_opc_categoria{
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #d3d1cc;
    width: 90%;
    margin-right: 6px;
    background: 0 0;
    -webkit-box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 10%);
    box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 10%);
    float: left;
    background: 0 0;
    font-size: 14px;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    min-width: 150px;
    height: 250px;
    background-color: #edede9;
}

.option_categoria_LI{
    display: list-item;
    white-space: nowrap;
    user-select: none;

}

.opc_active{
    background-color: var(--primario);
    
}

.opc_active p{
    color: var(--blanco);
}


