:root{
	--fuenteHeading:  'Work Sans', sans-serif;
	--fuenteParrafos: 'Open Sans', sans-serif;
	--playfair: 'Playfair Display', serif;

	--primario: #C00000;
	--secundario: #D84848;
	--focus: #33DFAC;
	--blanco: #ffffff;
	--negro: #000000;
	--gris: #edede9;

}

/*HEADER*/

.navbar-admin-das{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    background-color: var(--secundario);
}

.container-fluid{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.navbar-brand{
    color: var(--blanco);
    font-family: var(--playfair);
    font-size: 25px;
    margin-left: 25px;
}

.navbar-collapse{
    display: flex;
    flex-direction: row;
}

.nav-link{
    color: var(--negro);
    font-size: 20px;
    font-family: var(--fuenteHeading);
    margin-left: 20px;
    font-weight: 600;
}

.active-admin-nav{
    color: var(--primario);
	font-family: var(--playfair);
	background-color: var(--gris);
}

.dashboard{
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.btn-add_categoria{
    align-items: center;
    justify-items: center;
    margin-left: 350px;
}
.opciones{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #edede9;
    height: 800px;
}

.btn_opc{
    margin-top: 45px;
    width: 80%;
    margin-left: 10%;
}

.formularioScreen{
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
}

.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid var(--primario);
  border-top: 10px solid rgb(80, 78, 78);
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cargando{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    
}

.contenedor_opc_categoria{
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #d3d1cc;
    width: 90%;
    margin-right: 6px;
    background: 0 0;
    -webkit-box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 10%);
    box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 10%);
    float: left;
    background: 0 0;
    font-size: 14px;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    min-width: 150px;
    height: 250px;
    background-color: #edede9;
}

.option_categoria_LI{
    display: list-item;
    white-space: nowrap;
    user-select: none;
}

.option_categoria_LI:focus{
    background-color: #33DFAC;
   
}

.option_categoria_LI::selection{
 background-color: #33DFAC;
}



.opc_active{
    background-color: var(--primario);
    
}

.option_categoria_LI:scope{
    background-color: aquamarine;
}

.opc_active p{
    color: var(--blanco);
}

.add_categoria_screen{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    
}

.add_categoria-cat{   
    width: 80%;
    margin-left: 60px;
}

.form-select__add-catg{
   background: white;
     border: solid;
     border-width: 0.5px;
     font-size: 14px;
     height: 130px;
     padding: 5px;
     width: 250px;
}

.form-select__add-catg option{
    font-family: var(--playfair);
    font-size: 18px;
    margin-left: 10px;
    color: grey;
}

.add_producto-cat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}
